.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/prc-recruitment-bayesian-analysis/FileContentIndex/1ce41c78-67e3-4dd3-8606-1be3100fb581.vsidx
.vs/prc-recruitment-bayesian-analysis/FileContentIndex/2f1b0336-062a-4a4f-bebc-8e548b1241f8.vsidx
.vs/prc-recruitment-bayesian-analysis/FileContentIndex/720e4b8b-a14b-4e3f-afd0-6b49dadafb86.vsidx
.vs/prc-recruitment-bayesian-analysis/FileContentIndex/2394dd93-8a6f-4f26-9fbc-cf27597921a7.vsidx
.vs/prc-recruitment-bayesian-analysis/v17/.wsuo
.vs/prc-recruitment-bayesian-analysis/v17/Browse.VC.db
.vs/prc-recruitment-bayesian-analysis/v17/DocumentLayout.backup.json
.vs/prc-recruitment-bayesian-analysis/v17/DocumentLayout.json
.vs/prc-recruitment-bayesian-analysis/v17/ipch/AutoPCH/cea145aa4235a098/GILLESPIE.ipch
.vscode/tasks.json
.vscode/settings.json
prc1sim.exe
a.out
ls.prof
prc1System.exe
prc1sim.o
prc1System.o
gillespie.o
.ipynb_checkpoints/
sequentialwrapper.ipynb
python_version/__pycache__/
python_version/.ipynb_checkpoints/
documentation/
